<div class="row">
  <%= form_for(@job, url: yield(:url), html: {class: 'form-horizontal'}) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="form-group">
      <%= f.label :name, class: 'col-md-2 control-label' %>
      <div class="col-md-10">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :format, class: 'col-md-2 control-label' %>
      <div class="col-md-10">
        <%= f.select :format, Job.formats.keys.to_a, {},class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :char_code, class: 'col-md-2 control-label' %>
      <div class="col-md-10">
        <%= f.select :char_code, Job.char_codes.keys.to_a, {},class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-10 col-md-offset-2">
        <hr>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">出力項目</label>
      <div class="col-md-10">
        <p>ドラッグ＆ドロップで並べ替えが出来ます。</p>
  
        <div class='sortable list-group'>
          <%= f.fields_for :columns, @job.columns.sort_by(&:order_number) do |builder| %>
            <%= render 'column_fields', :f => builder %>
          <% end %>
        </div>
        <%= button_tag :type => "button", :class =>"btn btn-default add_button" do %>
          <i class="glyphicon glyphicon-plus text-info"></i>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-10 col-md-offset-2">
        <hr>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-10 col-md-offset-2">
        <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  	    <%= link_to "一覧へ戻る", jobs_path, class: "btn btn-default" %>
      </div>
    </div>

  <% end %>
</div>

<!-- jQueryでイベント記述 -->
<script>
  jQuery(function() {
    var member_num = $('.list-group-item').length;

    // ソート
    $('.sortable').sortable({
      cursor: 'move',                     //移動中のカーソル
      opacity: 0.7,                       //移動中の項目の透明度
      placeholder: "ui-state-highlight",  //ドロップ先の色指定(Styleで指定可能)
      forcePlaceholderSize: true          //trueでドラッグした要素のサイズを自動取得できる
    });
    $('.sortable').disableSelection();
  
    // ソート完了
    $(document).on('sortstop','.sortable',function(){
      $('.order_number').each(function(index, element){ $(element).val(index); });
    });
    
    // 削除ボタン
    $(document).on('click', '.remove_button', function() {
      p = $(this).parent('.list-group-item');
    	p.animate(
    	  {opacity: '0', height: 'hide'},
    	  {duration: 500, complete: function(){
    	    p.find('.column_name').val('');
    	  }});
    });
    
    // 追加ボタン
    $(document).on('click', '.add_button', function() {
      var input =
          '<div class="list-group-item list-group-item-info form-inline">'
          + '<input type="hidden" value="" name="job[columns_attributes][' + member_num + '][id]" id="job_columns_attributes_' + member_num + '_id" />'
          + '<input type="hidden" value="" name="job[columns_attributes][' + member_num + '][job_id]" id="job_columns_attributes_' + member_num + '_job_id" />'
          + '<input class="form-control column_name" type="text" value="" name="job[columns_attributes][' + member_num + '][name]" id="job_columns_attributes_' + member_num + '_name" />'
          + '<select class="form-control" name="job[columns_attributes][' + member_num + '][data_type]" id="job_columns_attributes_' + member_num + '_data_type"><option selected="selected" value="Faker">Faker</option>'
          +   '<option value="Other1">Other1</option><option value="Other2">Other2</option></select>'
          + '<input class="order_number" type="hidden" value="' + (member_num + 1) + '" name="job[columns_attributes][' + member_num + '][order_number]" id="job_columns_attributes_' + member_num + '_order_number" />'
          + '<i class="remove_button glyphicon glyphicon-remove-circle text-danger"></i>'
          +'</div>'
      $('.sortable').append(input);
      member_num ++;
    });

    $(document).on('change', '.data_type', function() {
      var data_type = $(this).val();
      $.ajax({
        url: "<%= jobs_subfakers_path %>.js",
        type: "GET",
        dataType: "text",
        data: {
          data_type: data_type
        },
        context: this,
        success: function(data){ 
          console.log(data);
          var obj = $(this).parent('.list-group-item').find('.data_key');
          for(var i in data) {
            obj.append("<option value=" +data[i] + ">" + data[i] +  "</option>");
          }
          //$(this).parent('.list-group-item').find('.data_key').replaceWith(data);
          //$(this).parent('.list-group-item').find('.data_key').html(data);
        }
      });
    });

    // data_keyコンボの選択
    $(document).on('change', '.data_key', function() {
      $(this).parent('.list-group-item').find('.column_name').val($(this).val());
    });
  });
</script>